resum-venv/lib/python3.12/site-packages/torch/lib/libtorch_cpu.dylib filter=lfs diff=lfs merge=lfs -text
backend/GoogleNews-vectors-negative300.bin filter=lfs diff=lfs merge=lfs -text
backend/nlp_utils.py filter=lfs diff=lfs merge=lfs -text
backend/file_utils.py filter=lfs diff=lfs merge=lfs -text
backend/app.py filter=lfs diff=lfs merge=lfs -text
frontend/src/App.js filter=lfs diff=lfs merge=lfs -text
